@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("pixel-jeff-mario.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: "Press Start 2P";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-shadow: 4px 6px #ff4992, 6px 10px #00efff;
}

.turn {
  text-shadow: 2px 2px #ff4992, 3px 5px #00efff;
  font-size: 1.2rem;
  margin: 0 0 1rem
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #000;
  text-align: center;
  font-size: 1.6rem;
  border: 4px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  border-color: #ff4992;
}

.blue {
  color: #00efff;
}

.pink {
  color: #ff4992;
}

.controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.history {
  font-family: "Press Start 2P";
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #ff4992;
  text-shadow: 1px 3px #ff4992;
  opacity: 0;
  margin-top: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  padding: 7px 10px;
}

#prevButton,
#nextButton {
  font-family: "Press Start 2P";
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #ff4992;
  cursor: not-allowed;
  margin: 1rem 1rem 0;
  text-shadow: 1px 3px #ff4992;
  padding: 7px 10px;
  border-radius: 7px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#resetButton {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 3px #ff4992;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

#prevButton:hover,
#nextButton:hover,
#resetButton:hover,
.history:hover {
  color: #00efff;
  text-shadow: 1px 2px white;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #b249b1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
  margin: 0 10px 0;
  text-align: left;
  overflow-y: auto;
}

ul {
  font-size: 1rem;
}

.modal button {
  background-color: #00efff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 25px;
  font-size: 14px;
  font-family: "Press Start 2P";
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 475px) {
  h1 {
    font-size: 1.5rem;
  }
  .cell {
    width: 80px;
    height: 80px;
  }

  #prevButton,
#nextButton {
  margin: 0;
  padding: 5px 5px;
}
}
